---
import GithubSVG from '@/svg/GithubSVG.astro';
interface Props {
	subTitle?: string;
	accompanimentTitle?: string;
}

const { subTitle, accompanimentTitle } = Astro.props;
---

<header class="header flex my-10 mx-5 md:mx-20 justify-between items-center">
	<h1 class="text-3xl md:text-7xl font-bold text-start">
		<a href="/"
			>Resources <span class="text-xs md:text-5xl font-light md:font-normal"
				>{accompanimentTitle}</span
			></a
		>
	</h1>
	{
		subTitle && (
			<h2 transition:name={`${subTitle}-header`} class="text-lg md:text-3xl font-bold">
				{subTitle}
			</h2>
		)
	}
	<a href="https://github.com/ACBC-DEV/Resources" class="m-0 p-0 ml-0"
		><GithubSVG class="w-10 h-10 ml-5 hover:opacity-80 duration-150" /></a
	>
</header>
