---
import LOGO from '@/assets/non-bg.svg';
---

<a
	href="/"
	class="flex items-center justify-center gap-2 px-4 py-6 border-white/10 text-decoration-none transition-all duration-300 hover:opacity-80"
>
	<LOGO class="size-10" />
	<span class="text-xl font-bold tracking-wide"> Resources </span>
</a>
